.create-btn-area {
    display: flex;
    justify-content: end;
}

.create-btn {
    border-radius: 5px;
    padding: 10px 15px;
}

.img-area {
    display: flex;
    align-items: center;
}

.img-area > div{
    border: 1px solid #ced4da;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    margin-left: auto;
}
