<!DOCTYPE html>
<html lang="ko" th:fragment="layoutFragment">
    <head>
        <title>DHBLOG</title>
        <link rel="icon" th:href="@{/templates/favicon.ico}" />
        <link rel="stylesheet" href="/templates/css/template.css">
        <link rel="stylesheet" th:href="@{/page/css/layout.css}"/>

        <script th:inline="javascript">
            let ctx = window.location.protocol + "//" + window.location.host;
        </script>
        <script src="/page/js/jquery-3.7.1.min.js"></script>
        <script src="/templates/js/template.js"></script>
        <script src="/page/js/layout.js"></script>
    </head>
    <body>
        <div th:replace="~{fragment/header.html :: headFragment}"></div>
        <div th:replace="~{fragment/footer.html :: footerFragment}"></div>
    </body>
</html>