<!DOCTYPE html>
<html lang="ko">
<div th:replace="~{fragment/layout.html :: layoutFragment}"></div>
<body>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" id="postContent">
                <p class="post-content">준비 중 입니다. 잠시만 기다려 주세요.</p>
            </div>
            <div>
                <div class="post-reply">
                    <div class="reply-view" onclick="postPage.handleReplyViewBtnClick()">
                        <p>댓글</p>
                        <a id="replyBtnImg" class="post-reply-unfold"></a>
                    </div>

                    <div id="replySpace" class="d-none">
                        <div>

                        </div>

                        <div class="post-reply-input-space">
                            <textarea></textarea>
                            <a>작성</a>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:if="${postAuthorityBtn == 'ok'}">
                <div class="post-function-btn-area">
                    <button onclick="postPage.handleUpdateBtnClick()">수정</button>
                    <button onclick="postPage.handleDeleteBtnClick()">삭제</button>
                </div>
            </th:block>
        </div>
    </div>
</body>

<link rel="stylesheet" th:href="@{/page/css/post/postPage.css}"/>
<script th:inline="javascript">
    let postId = /*[[${post.id}]]*/ {};
    let content = /*[[${post.content}]]*/ {};
    let images = /*[[${post.postImages}]]*/ {};
    let token = /*[[${token}]]*/ {};
</script>
<script src="/page/js/post/post_page.js"></script>
</html>