<!DOCTYPE html>
<html lang="ko">
<div th:replace="~{fragment/layout.html :: layoutFragment}"></div>
<body>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-xl-7" id="postContent">
                <p class="post-content">준비 중 입니다. 잠시만 기다려 주세요.</p>
            </div>
            <div class="col-xl-7">
                <div class="post-reply">
                    <div class="reply-view" onclick="postPage.handleReplyViewBtnClick()">
                        <p>댓글</p>
                        <a id="replyBtnImg" class="post-reply-unfold"></a>
                    </div>

                    <div id="replySpace" class="d-none">
                        <div id="replyViewSpace">

                        </div>
                        <th:block th:if="${reply_token != ''}">
                            <div class="post-reply-input-space">
                                <textarea id="insertReply"></textarea>
                                <a onclick="postPage.handleReplyInsertBtnClick()">작성</a>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
            <th:block th:if="${postAuthorityBtn == 'ok'}">
                <div class="post-function-btn-area">
                    <button onclick="postPage.handleUpdateBtnClick()">수정</button>
                    <button onclick="postPage.handleDeleteBtnClick()">삭제</button>
                </div>
            </th:block>
        </div>
    </div>
</body>

<input type="hidden" id="userNickName" th:value="${userNickName}"/>
<input type="hidden" id="replyToken" th:value="${reply_token}"/>
<input type="hidden" id="token" th:value="${token}"/>
<input type="hidden" id="postId" th:value="${post.id}"/>
<input type="hidden" id="content" th:value="${post.content}"/>
<input type="hidden" id="postReply" th:value="${post}"/>

<link rel="stylesheet" th:href="@{/page/css/post/postPage.css}"/>
<script th:inline="javascript">
    let images = /*[[${post.postImages}]]*/ {};
    let replys = /*[[${post.replyList}]]*/ {};
</script>
<script src="/page/js/post/post_page.js"></script>
</html>