<!DOCTYPE html>
<html lang="ko">
<div th:replace="~{fragment/layout.html :: layoutFragment}"></div>
<body>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <th:block th:if="${data != null and data.content.size() > 0}" th:each="post : ${data.content}">
                    <div class="post-preview">
                        <a th:href="@{/post/page(id=${post.id})}">
                            <h2 class="post-title" th:text="${post.title}"></h2>
                            <h3 class="post-subtitle" th:text="${#strings.length(#strings.replace(post.content, '[이미지 출력]', '')) > 100 ? #strings.substring(#strings.replace(post.content, '[이미지 출력]', ''), 0, 100) + '...' : #strings.replace(post.content, '[이미지 출력]', '')}"></h3>
                        </a>
                        <p class="post-meta">
                            <span th:text="${'작성자 : ' + post.writer}"></span>
                            <span class="post-modified-time" th:text="${post.modifiedAt}"></span>
                        </p>
                    </div>

                    <hr class="my-4" />
                </th:block>

                <div class="page-space">
                    <th:block th:if="${page != null}">
                        <ul th:utext="${page.getNavigator()}">
                        </ul>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</body>

<script th:inline="javascript">
    let postData = /*[[${data}]]*/ {};
    let page = /*[[${page}]]*/ {};
    console.log(postData);
    console.log(page);
</script>
<script src="/page/js/post/post_list_page.js"></script>
</html>