<!DOCTYPE html>
<html lang="ko">
<div th:replace="~{fragment/layout.html :: layoutFragment}"></div>
<body>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <th:block th:if="${data != null and data.content.size() > 0}" th:each="post : ${data.content}">
                    <div class="post-preview">
                        <a th:href="@{/post/page(id=${post.id})}">
                            <h2 class="post-title" th:text="${post.title}"></h2>
                            <h3 class="post-subtitle" th:text="${#strings.length(#strings.replace(post.content, '[이미지 출력]', '')) > 100 ? #strings.substring(#strings.replace(post.content, '[이미지 출력]', ''), 0, 100) + '...' : #strings.replace(post.content, '[이미지 출력]', '')}"></h3>
                        </a>
                        <p class="post-meta">
                            <span th:text="${'작성자 : ' + post.writer}"></span>
                            <span class="post-modified-time" th:text="${post.modifiedAt}"></span>
                        </p>
                    </div>

                    <hr class="my-4" />
                </th:block>
                <th:block th:unless="${data != null and data.content.size() > 0}">
                    <div>
                        <p class="post-none">게시글이 존재하지 않습니다.</p>
                    </div>

                    <hr class="my-4" />
                </th:block>
                <div class="page-space">
                    <th:block th:if="${page != null}">
                        <ul th:utext="${page.getNavigator()}">
                        </ul>
                    </th:block>
                </div>
                <div class="search-tab">
                    <select id="searchType">
                        <option value="title" th:selected="${param.title != null && !#strings.isEmpty(param.title) && param.content == null}">제목</option>
                        <option value="content" th:selected="${param.content != null && !#strings.isEmpty(param.content) && param.title == null}">내용</option>
                        <option value="writer" th:selected="${param.writer != null && !#strings.isEmpty(param.writer)}">작성자</option>
                        <option value="tc" th:selected="${param.title != null && !#strings.isEmpty(param.title) && param.content != null && !#strings.isEmpty(param.content)}">제목+내용</option>
                    </select>
                    <input type="text" id="searchData" name="searchData"
                           th:value="${param.title != null && !#strings.isEmpty(param.title) ? param.title :
                          (param.content != null && !#strings.isEmpty(param.content) ? param.content :
                          (param.writer != null && !#strings.isEmpty(param.writer) ? param.writer :
                          (param.title != null && param.content != null ? param.title + ' ' + param.content : '')))}"
                        onkeyup="postListPage.handleSearchEnterKeyClick(event)">
                    <a onclick="postListPage.handleSearchBtnClick()">검색</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/page/js/post/post_list_page.js"></script>
</html>