<!DOCTYPE html>
<html lang="ko" class="login-form">
<head>
    <link rel="stylesheet" th:href="@{/page/css/login/login.css}"/>
    <link rel="icon" th:href="@{/templates/favicon.ico}" />

    <script src="/page/js/jquery-3.7.1.min.js"></script>
    <script src="/page/js/login/login_page.js"></script>

    <title>DHBLOG 로그인</title>
</head>
<body>
    <div class="login-title-area">
        <span>DHBLOG</span>
    </div>
    <div class="login-input-area">
        <div class="login-input-box">
            <input type="text" id="id" placeholder="아이디를 입력해주세요."/>
            <input type="password" id="password" placeholder="비밀번호를 입력해주세요."/>
        </div>

        <div>
            <button class="login-button" onclick="loginPage.handleLoginBtnClick()">로그인</button>
        </div>
    </div>

    <div class="login-function-area">
        <a>아이디 찾기</a>
        <a>비밀번호 찾기</a>
        <a th:href="@{/account/create}">회원가입</a>
    </div>
</body>

</html>