body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.account-form{
    height: 100%;
    background: whitesmoke;
}

.account-title-area {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}

.account-title-area span {
    background: linear-gradient(to right top, #204b8a, #b1c9ed);
    -webkit-background-clip: text;
    color: transparent;
}

.account-input-area {
    display: flex;
    justify-content: center;
    width: 500px;
}

.account-input-area .account-input-box {
    display: grid;
    padding: 50px;
    background: white;
    border-radius: 5px;
    border: 1px solid;
    width: 500px;
}

.account-input-area .account-input-box .account-attribute{
    display: contents;
}

.account-input-area .account-input-box .account-attribute .account-attribute-flex{
    display: flex;
}

.account-input-area .account-input-box .account-attribute .account-attribute-flex .nickname-box{
    border-radius: 5px;
    border: solid 1px #cccccc;
    display: flex;
    width: 100%;
}

.account-input-area .account-input-box .account-attribute .account-attribute-flex .nickname-box input{
    border-color: transparent;
    width: 100%;
}

.account-input-area .account-input-box .account-attribute .account-attribute-flex .nickname-box button{
    position: relative;
    height: 25px;
    font-size: 12px;
    width: 80px;
    top: 7px;
    left: -6px;
}


.account-input-area .account-input-box .account-attribute span{
    font-size: 14px;
    padding: 5px 0 5px 0;
}

.account-input-area .account-input-box .account-attribute label{
    font-size: 14px;
}

.account-input-area input{
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    border: solid 1px #cccccc;
    width: auto;
}

.account-input-area input[type=radio] {
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
}

.account-input-area input:focus {
    outline: none;
    border-color: #0d6efd;
}

.account-input-area input:last-child{
    margin-bottom: 0;
}

.account-function-area {
    display: flex;
    margin-top: 10px;
    justify-content: end;
}

.account-function-area .account-create-btn {
    background: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    font-size: 15px;
}