.post-content {
    white-space: pre-line;
}

#postContent img{
    max-width: 694px;
    max-height: 694px;
    object-fit: cover;
}

.post-function-btn-area {
    flex: 0 0 auto;
    width: 58.33333333%;
    justify-content: end;
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post-function-btn-area button{
    width: 40px;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background: #808080;
    color: white;
    margin-left: 5px;
}

.post-function-btn-area button:hover{
    background: #a0a0a0
}

#replySpace {
    background-color: #cccccc;
    padding: 10px;
}

.post-reply {
    display: block;
}

.post-reply .reply-view {
    display: inline-flex;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 3px 0 3px 5px;
    font-size: 15px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    cursor : pointer;
}

.post-reply .reply-view p {
    margin: 0;
}

.post-reply .reply-view .post-reply-fold {
    background: url("../../img/up_icon.svg") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.post-reply .reply-view .post-reply-unfold {
    background: url("../../img/down_icon.svg") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.post-reply .post-reply-input-space {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    border: solid 1px;
    margin-bottom: 5px;
}

.post-reply .post-reply-input-space textarea{
    resize: none;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    width: calc(100% - 66px);
}

.post-reply .post-reply-input-space a{
    padding: 15.5px;
    margin-left: 5px;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
    background-color: #797B81;
    color: white;
    font-weight: bold;
}

.post-reply .post-reply-input-space a:hover{
    background-color: #9a9b9f;
    color: white;
}

.post-reply .reply {
    margin-bottom: 5px;
}

.post-reply .reply p {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.post-reply .reply pre {
    font-size: 14px;
    width: 100%;
    padding-left: 5px;
    margin-bottom : 5px;
}

.post-reply .reply .reply-btn-space {
    font-size: 12px;
    display: flex;
    justify-content: end;
    padding-bottom: 5px;
    border-bottom: 1px dashed black;
}

.post-reply .reply .reply-btn-space .reply-upt-btn {
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.post-reply .reply .reply-btn-space .reply-del-btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}